.card {
    padding: 24px;
    box-shadow: 0 0 10px rgba(43, 43, 43, 0.43);
    border-radius: 6px;
    display: inline-block;
    background-color: #fafafa;
    max-width: 400px;

}

.title {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    padding-right: 40px;
    display: block;
}

.label {
    font-size: 16px;
    margin: 15px 0;
}

.actionButton {
    font-size: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 4px 16px;
    display: block;
    margin-top: 20px;
    width: 100%;
    user-select: none;
    height: 42px;
}
