.card {
    padding: 24px;
    box-shadow: 0 0 10px rgba(43, 43, 43, 0.43);
    border-radius: 6px;
    display: inline-block;
    background-color: #fafafa;
    max-width: 400px;
}

@media only screen and (min-resolution: 1dppx) and (max-width: 320px),
only screen and (min-resolution: 2dppx) and (max-width: 640px),
only screen and (min-resolution: 3dppx) and (max-width: 1080px) {
    .card {
        width: 100vw;
        height: 100vh;
        max-width: none;
        box-shadow: none;
        border-radius: 0;
        display: block;
    }
}

.title {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    padding-right: 40px;
    display: block;
}

.label {
    font-size: 16px;
    margin: 15px 0;
}

.actionButton {
    font-size: 20px;
    background: linear-gradient(to bottom, #ffffff, #f2f2f2);
    border-radius: 5px;
    padding: 4px 16px;
    display: block;
    margin-top: 20px;
    width: 100%;
    user-select: none;
    height: 42px;
}

.errorMessage {
    color: darkred;
    margin-top: 5px;
}
