.card {
    padding: 20px;
    box-shadow: 0 0 10px darkgray;
    border-radius: 6px;
    display: inline-block;
    background-color: #fafafa;
    max-width: 400px;

}

.title {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    padding-right: 40px;
    display: block;
}

.content {
    margin-top: 20px;
}

.label {
    font-size: 16px;
    margin-bottom: 10px;
}

.action {

}
